<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title></title>
  </head>

  <body>
    <center>
        <h2>Register Form</h2>
    <div class="container">
        <form action="/register" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="username">Username</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="username" placeholder="enter the username" required>
                </div>
            </div>
            <div class="row">
              <div class="col-25">
                  <label for="email">Email</label>
              </div>
              <div class="col-75">
                  <input type="email" id="email" name="email" placeholder="enter the email id" required>
              </div>
          </div>
            <div class="row">
                <div class="col-25">
                    <label for="password">Password</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password" placeholder="enter the password" required>
                </div>
            </div>
            <div class="row">
              <div class="col-25">
                  <label for="repass">Re-Password</label>
              </div>
              <div class="col-75">
                  <input type="password" id="repass" name="repass" placeholder="re-enter the password" required>
              </div>
          </div>
          <div class="row">
            <input type="submit" value="Register">
        </div>
          {% if error %}
    <div> {{error}} </div>
      {% endif %}
      </div></center>
    </form>
    </body>
</html>