<html>
<head>
<title>multiple-choice quiz form</title>
</head>
<script>
var total_seconds = 900;
var c_minutes = parseInt(total_seconds / 60);
var c_seconds = parseInt(total_seconds % 60);
var timer;

function CheckTime() {
  document.getElementById("quiz-time-left").innerHTML = 'Time Left: ' + c_minutes + ' minutes ' + c_seconds + ' seconds ';

  if (total_seconds <= 0) {
    score();
  } else {
    total_seconds = total_seconds - 1;
    c_minutes = parseInt(total_seconds / 60);
    c_seconds = parseInt(total_seconds % 60);
    timer = setTimeout(CheckTime, 1000);
  }
}
timer = setTimeout(CheckTime, 1000);

function score() {
  // stop timer
  clearInterval(timer);

  q.style.fontSize = "40px";
  q.style.textAlign = "center";
  q.innerHTML = "You got " + points + " out of " + total +
    "<br />" +
    "you used " + (300 - Math.floor(total_seconds)) + " seconds";

  return false;
}
</script>
<body bgcolor=#ffffff>

<h3>Vocabulary Quiz I</h3>

<div id="quiz-time-left">

</div>
<form name="form"  action="/evaluation" method = "post">
  {%for i in questions%}
  <h3>{{i["question_number"]}}.{{i["question"]}}</h3>
  {%for j in i["options"]%}
  <input type="radio" name="q{{i['question_number']}}" value={{j}}> {{j}}<br>

  {%endfor%}
  {%endfor%}

  <input type="submit"  value="Submit">


  <input type="reset" value="Clear Form">
  <br>

  <p id="p"></p>


</form>
</body>
</html>
